*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 22px;
}

.head-name{
  margin: 0;
  font-weight: bold;
  font-size: 1.8rem;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li{
  padding: 7px 12px;
  list-style: none;
  background: cyan;
  outline: none;
  border-radius: 5px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

main{
  background: darkgray;
  color: white;
}

#hero{
  height: calc(100dvh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content, .about-content{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.hero-content h1{
  font-weight: bold;
  font-size: 3.5rem;
}

.role{
  font-size: large;
}

#hero .short-desc{
  max-width: 100%;
}

#hero a, .about-content a{
  margin-top: 20px;
  text-decoration: none;
  padding: 8px 15px;
  background: cyan;
  color: white;
  outline: none;
  border-radius: 6px;
  align-self: flex-start;
}

.hero-img, .about-img{
  margin-right: 7.5%;
}

#about{
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content{
  align-self: baseline;
  margin-top: 60px;
}

.about-content h2, #skills h2{
  font-weight: bold;
  font-size: 2rem;
}

#skills{
  border: 2px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
}

.tech, .tools{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tech h3, .tools h3{
  font-size: 1.3rem;
}

.list-cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skill-list{
  list-style: none;
  background: cyan;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
}

#projects{
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#projects h2{
  margin-bottom: 10px;
  font-size: 2rem;
}

#contact{
  min-height: 50vh;
  padding: 30px 50px;
}

#contact h2{
  margin-bottom: 20px;
}

.social-add{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

footer{
  text-align: center;
  padding: 10px 0px;
}

footer p{
  margin-bottom: 5px;
}

@media (max-width: 550px) {
  header{
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    padding-right: 0;
  }



  nav ul{
    gap: 0;
  }

  #hero, #about{
    flex-direction: column;
    height: auto;
  }

  #about{
    min-height: unset;
    height: auto;
  }

  .hero-content, .about-content{
    max-width: 100%;
  }

  .about-content{
    margin-top: 0;
  }

  .hero-img, .about-img{
    margin-right: 0;
  }

  .hero-img img, .about-img img{
    max-width: 100%;
  }

  #skills{
    border: 2px solid red;
    min-height: unset;
    height: auto;
  }

  .list-cont{
    grid-template-columns: 1fr;
  }
}