:root{
  --bg: #111827;
  --surface: #1f2937;
  --text: #f9fafb;
  --muted: #9ca3af;

  --primary: #06b6d4;
  --primary-hover: #0891b2;
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header{
  background: var(--surface);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 22px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.head-name{
  color: var(--text);
  margin: 0;
  font-weight: bold;
  font-size: 1.8rem;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li{
  padding: 7px 12px;
  list-style: none;
  background: transparent;
  outline: none;
  border-radius: 5px;
}

nav ul li a{
  text-decoration: none;
  color: var(--text);
}

::selection{
  background: var(--primary);
  color: white;
}

#hero a:hover,
.about-content a:hover{
  background: var(--primary-hover);
  /* box-shadow: 2px 4px 10px rgba(0, 255, 255, 0.5); */
  box-shadow: 0px 15px 30px rgba(0, 255, 255, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.nav ul li:hover{
  background: transparent;
  box-shadow: none;
}

nav ul li a:hover{
  color: var(--primary);
}

nav ul li,
.skill-list,
#hero a,
.about-content a{
  transition: all 0.3s ease;
  cursor: pointer;
}

main{
  background: var(--bg);
  color: var(--text);
}

section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 2rem;
}

#hero{
  min-height: calc(100dvh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content, .about-content{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-content{
  max-width: 600px;
}

.hero-content h1{
  font-size: 4.5rem;
  line-height: 1.1;
}

.role{
  color: var(--primary);
  font-weight: 600;
}

.short-desc{
  color: var(--muted);
  line-height: 1.8;
}

#hero a, .about-content a{
  margin-top: 20px;
  text-decoration: none;
  padding: 12px 20px;
  font-weight: 600;
  background: var(--primary);
  color: var(--text);
  outline: none;
  border-radius: 6px;
  align-self: flex-start;
}

.hero-img{
  margin-right: 7.5%;
}

.hero-img img{
  min-width: 350px;
  max-width: 100%;
  height: auto;
}

#about{
  height: auto;
}

.about-content{
  max-width: 100%;
}

.about-details{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}

.detail-card{
  background: #374151;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #4b5563;
}

.detail-card strong{
  display: block;
  color: var(--primary);
  margin-bottom: 5px;
}

.detail-card:hover{
  border-color: var(--primary);
}

.about-content h2, 
#skills h2,
#contact h2{
  font-weight: bold;
  font-size: 2.5rem;
}

#skills{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tech, .tools{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tech h3, .tools h3, .portfolio-web h3{
  font-size: 1.3rem;
}

.list-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill-list{
  list-style: none;
  background: #374151;
  color: white;
  text-align: center;
  border: 1px solid #4b5563;
  border-radius: 12px;
  padding: 15px;
  cursor: auto;
}

.skill-list:hover{
  border-color: var(--primary);
  transform: translateY(-3px);
}

#projects{
  display: flex;
  flex-direction: column;
}

#projects h2{
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.portfolio-web{
  max-width: 500px;
  width: 100%;
  background: #374151;
  border-radius: 10px;
  padding: 20px 10px;
  transition: transform 0.3s ease;
}

.portfolio-web:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.portfolio-web p{
  margin: 10px 0;
}

.portfolio-web ul li{
  margin-left: 20px;
}

#contact h2{
  margin-bottom: 20px;
}

.social-add{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #374151;
  padding: 20px 10px;
  border-radius: 10px;
  gap: 10px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.social-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.social-add:hover{
  transform: translateY(-3px);
}

.social-add p{
  color: #c9cdd3;
  font-weight: 600;
  line-height: 1.4;
}

.social-add a{
  color: var(--text);
  text-decoration: none;
}

footer{
  background: #0f172a;
  color: #9ca3af;
  text-align: center;
  border-top: 1px solid #374151;
  padding: 2rem;
}

footer p{
  margin-bottom: 5px;
}

h2{
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #hero{
    flex-direction: column;
    gap: 20px;
  }

  .hero-img img{
    min-width: unset;
    width: 350px;
  }
}

@media (max-width: 550px) {
  header{
    height: auto;
    padding: 1rem;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
  }

  nav ul{
    gap: 0;
  }

  #hero, #about{
    flex-direction: column;
    height: auto;
  }

  .hero-content h1{
    font-size: 3.5rem;
  }

  #about{
    min-height: unset;
    height: auto;
  }

  .hero-content, .about-content{
    max-width: 100%;
  }

  .about-content{
    margin-top: 0;
  }

  .hero-img{
    margin-right: 0;
  }

  .hero-img img{
    max-width: 100%;
  }

  #skills{
    min-height: unset;
    height: auto;
  }

  .list-cont{
    grid-template-columns: 1fr;
  }
}
